.class {
font-size: 100px;
vertical-align: top;
}
.class2 {
    font-size: 10px;
}

.img{
    white-space: nowrap;
    vertical-align: top;
}
.dbfl{
    font-size: 100px;
    color: white;
}

body{
    background-color: rgb(85, 85, 85);
}